<%= render 'modal' %>
 <h4><a href="#myModal" data-toggle="modal">Add a New Property</a></h4>

<% @properties.each do |property| %> 
  <%= property.name %> 
  <%= property.address %> 
  <%= property.city %> 
  <%= property.state %> 
  <%= property.zip %> 
  <%= link_to 'Edit', property_path(property) %> <br>
<% end %> 
