<%= render 'cat_modal' %>
 <h4><a href="#myModal" data-toggle="modal">Add a New Category</a></h4>

<%= render '_item_modal' %>


<!-- issues figure out duplication off add items link, figure out how to get item modal rendered on this page -->
<!-- revert to old commit to see changes -->

<% @property.categories.each do |category| %> 
  <h4><%= category.title %></h4>
  <% if current_user.try(:admin?) %> 
  <h4><a href="#myModal" data-toggle="modal">Add Items To This Category</a></h4>
<% end %> 


  <!-- LIST EVERY CATEGORY AND ITEM FOR THE USER AND ADMIN TO SEE -->
  <% category.items.each do |item| %> 
    <%= item.name %>

    <!-- CHECKS TO SEE IF AN ITEM IS OUT OF STOCK AND DISPLAYS A RED BUTTON  -->
    <% if item.out_of_stock? %>
      <%= simple_form_for [category, item] do |f| %>
        <%= f.hidden_field :state %>
        <%= f.submit "Out of Stock", :class => "btn btn-danger" %>
      <% end %>
    <% end %>
    <!-- CHECKS TO SEE IF AN ITEM IS IN STOCK AND DISPLAYS A GREEN BUTTON -->
    <% if item.in_stock? %>
      <%= simple_form_for [category, item] do |f| %>
        <%= f.hidden_field :state %>
        <%= f.submit "In Stock", :class => "btn btn-success" %>
      <% end %>
    <% end %>
    <!-- CHECKS TO SEE IF AN ITEM IS LOW IN STOCK AND DISPLAYS A YELLOW BUTTON  -->
    <% if item.low_stock? %>
      <%= simple_form_for [category, item] do |f| %>
        <%= f.hidden_field :state %>
        <%= f.submit "Low Stock", :class => "btn btn-warning" %>
      <% end %>
    <% end %>
  <% end %>  
<% end %>

