<!DOCTYPE html>
<html>
<head>
  <title>CrashpadApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% end %>

<% if current_user.try(:admin?) %>
  <h4><%= link_to 'Backend', rails_admin_path %></h4>
 <h4> <%= link_to 'Add a New Category', new_category_path %></h4>
  <h4><%= link_to 'View Current Categories', categories_path %></h4>

<% end %>

<div class="container"> 
  <%= yield %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
